<div class="comment">

  <%= comment.body %>
  <br/>
  <span class="page_foot">
 <span class="commenter "> <i> -- <%= comment.commenter %></i> </span>

	<% unless session[:admin_id] == nil%>
	<span class="del">
<%= link_to 'del', [comment.product, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
               </span>
               <% end %>

</span>
  <br />
    <br />
</div>

