<%= form_for(@cart , :remote => true) do |f| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% @cart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% @cart.line_items.each do |item|%>

<% end %>
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
