/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require_self
 *= require_tree .
 */

#searchbox
{
  position:fixed;
  right: 1em;
  width:350px;
  height:80px;
  z-index: 2;
}

.locale
{
  font-size: 1em;
  height: 25px;
  float: right;
  margin: 1em;
}

.container
{
  padding-top: 3.5em;
}

.depot_form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  fieldset {
    // background: #efe;
    legend {
      // color: #dfd;
      // background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }
  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
    }

    // #order_pay_type
    // {
    //   margin-left: -1.2em;
    // }

    .submit {
      margin-left: 4em;
    }
    br {
      display: none
    }
  }
}