// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cart_details
{
	margin-left: auto;
	margin-right: auto;
}

#orders_list
{
	margin-left: auto;
	margin-right: auto;
}