// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.price_line div
{
  padding-left: 10px;
  height: 30px;
}

.price, .add_cart, .comment, .liked
{
  // display: inline;
  // padding: 10px;
  margin-left: 20px;
  width: 100px;
  height: 25px;
  float: left;
}

.md-content-detail img
{
  float: left;
  height: 170px;
  width: 120px;
}

#details
{
  overflow: hidden;
}

#details div
{
  padding-left: 130px;
}

