<% content_for :index_category do %>

  	<ul class="grid_touch cs-style-1">
  		<% @categories.each do |category| %>
				<li>
					<figure>
						<%= image_tag(category.image_url) %>
						<figcaption>
							<h3><%= category.title %></h3>
							<span><%= category.description %></span>
							<%= link_to "Take a look",:controller => 'store', :action  => 'category_show', :category_type => category.title %>
						</figcaption>
					</figure>
				</li>
		<% end %>
			
	</ul>
<% end %>
